[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
networkx = "*"
pandas = "*"
numpy = "*"
rpy2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
